body {
  font-family: 'Poppins', sans-serif;
}


aside a {
  transition: all 0.3s ease;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 4px;
}
